.Search {
    margin-bottom: 20px;
}

.Search input {
    background: #21262d;
    border: 2px solid #30363d;
    color: #fff;
    padding: 10px;
    border-radius: 20px 0 0 20px;
}

.Search input:focus {
    outline: none;
    background: #30363d;
    border-color: #8b949e;
}

.Search button {
    background: #1f6feb;
    border: 2px solid #1f6feb;
    color: #fff;
    padding: 10px;
    border-radius: 0 20px 20px 0;
    transition: all .2s linear;
}

.Search button:hover {
    cursor: pointer;
    background: #225fbd;
    border: 2px solid #225fbd;
}

.no-results {
    text-align: center;
}